@using MachineLogViewer.Models
@model MachineLogViewer.Models.MachineDetailsViewModel

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogEntries)
        </dt>
        <dd>
            @using (Html.BeginForm("Details", "Machine", FormMethod.Get))
            {
                <p>
                    Filter by Category: @Html.DropDownList("Category")
                </p>
                <p>
                    Filter by Start Date: @Html.TextBox("StartDate")
                </p>
                <p>
                    Filter by Start Date: @Html.TextBox("EndDate")
                </p>
                <p>
                    <input type="submit" value="Search" />
                </p>
            }
            <table class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Time", "Details", new {sortOrder = ViewBag.DateSortParm, category = ViewBag.Category, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })
                    </th>
                    <th>
                        @Html.ActionLink("Category", "Details", new { sortOrder = ViewBag.CategorySortParm, category = ViewBag.Category, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.LogEntries)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.LogEntries.PageCount < Model.LogEntries.PageNumber ? 0 : Model.LogEntries.PageNumber) of @Model.LogEntries.PageCount

            @Html.PagedListPager(Model.LogEntries, page => Url.Action("Details",
    new { page, sortOrder = ViewBag.CurrentSort, category = ViewBag.Category, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate }))
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
